---
const baseUrl = import.meta.env.BASE_URL;
const tabs = [
  { url: '/contentslist/components/addheart', label: '1' },
  { url: '/contentslist/components/clicked', label: '2' },
  { url: '/contentslist/components/declarative', label: '3' },
  { url: '/contentslist/components/count', label: '4'},
  { url: '/contentslist/components/filmcards', label: '5'},
];
---

<div class="tab-list" role="tablist">
  {tabs.map(tab => (
    <button hx-get={`${baseUrl}${tab.url}`} role="tab" aria-selected="false" aria-controls="tab-content">{tab.label}</button>
  ))}
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
  <slot />
</div>