---
const baseUrl = import.meta.env.BASE_URL
---

<div class="tab-list" role="tablist">
	<button hx-get=`${baseUrl}/contentslist/components/addheart` class="selected" role="tab" aria-selected="false" aria-controls="tab-content">Tab 1</button>
	<button hx-get=`${baseUrl}/contentslist/components/clicked` role="tab" aria-selected="false" aria-controls="tab-content">Tab 2</button>
	<button hx-get="/tab3" role="tab" aria-selected="false" aria-controls="tab-content">Tab 3</button>
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    <slot />
</div>