---
const baseUrl = import.meta.env.BASE_URL
---
<button hx-get=`${baseUrl}/contentslist`
    hx-trigger="click"
    hx-swap="innerHTML"
>
    Click Me! Show contents list
</button>
<div />

<!-- <button hx-get=`${baseUrl}/contentslist/components/clicked`
    hx-trigger="click"
    hx-swap="outerHTML"
>
    Click Me!
</button>
<div /> -->