--- 
import Sigma from '../components/sigma/index.astro'
import Modal from '../components/sigma/Modal.astro'
import Three from '../components/threejs/index.astro'
---

<!-- <div>
    <Sigma />
    <Modal />
</div> -->
<div>
    <Three />
</div>