---
import TreeDraggable from "../components/tablegrid/treedraggable.astro";
import TreeGrid from "../components/tablegrid/treegrid.astro";
import SortableJs from "../components/tablegrid/sortablejs.astro";
import SortableJs2 from "../components/tablegrid/sortablejs2.astro";
---

<!-- <TreeDraggable /><div></div>
<TreeGrid /><div></div> -->
<SortableJs /><div></div>
<SortableJs2 />
