<div id="phase2">
  <div id="element1">要素1</div>
  <div id="element2">要素2</div>
  <div id="line" style="position: absolute;"></div>
  <script
    defer
    type="module"
    src="/portfolio/src/components/phasetwo/scripts/index.js"></script>
</div>

<style>
  #element1,
  #element2 {
    position: absolute;
    user-select: none; /* テキストの選択を防止 */
    cursor: move; /* ドラッグ可能であることを示すカーソル */
  }
</style>
