<div id="phase2">
  <div id="el1">要素1</div>
  <div id="el2">要素2</div>
  <div id="line" style="position: absolute;"></div>
  <script src="./scripts/index.ts"></script>
</div>

<style>
  #el1,
  #el2 {
    position: absolute;
    user-select: none; /* テキストの選択を防止 */
    cursor: move; /* ドラッグ可能であることを示すカーソル */
  }
</style>
