<ul id="items">
  <li>item 1</li>
  <li>item 2</li>
  <li>item 3</li>
</ul>
<div id="nestedDemo" class="list-group col nested-sortable">
  <div class="list-group-item nested-1" style="">
    Item 1.1
    <div class="list-group nested-sortable">
      <div class="list-group-item nested-2" draggable="false" style="">
        Item 2.2
        <div class="list-group nested-sortable">
          <div class="list-group-item nested-3" draggable="false" style="">
            Item 3.1
          </div><div
            class="list-group-item nested-3"
            style=""
            draggable="false"
          >
            Item 3.2
          </div><div
            class="list-group-item nested-3"
            style=""
            draggable="false"
          >
            Item 3.3
          </div><div
            class="list-group-item nested-3"
            style=""
            draggable="false"
          >
            Item 3.4
          </div>
        </div>
      </div>

      <div class="list-group-item nested-2" style="" draggable="false">
        Item 2.1
      </div><div class="list-group-item nested-2">Item 2.3</div>
      <div class="list-group-item nested-2">Item 2.4</div>
    </div>
  </div>
  <div class="list-group-item nested-1" style="">Item 1.2</div>
  <div class="list-group-item nested-1" style="">Item 1.3</div>
  <div class="list-group-item nested-1" style="">
    Item 1.4
    <div class="list-group nested-sortable">
      <div class="list-group-item nested-2" style="">Item 2.2</div>
      <div class="list-group-item nested-2" draggable="false" style="">
        Item 2.1
      </div><div class="list-group-item nested-2" style="">Item 2.3</div>

      <div class="list-group-item nested-2" style="" draggable="false">
        Item 2.4
      </div><div class="list-group-item nested-1" draggable="false" style="">
        Item 1.5
      </div>
    </div>
  </div>
</div>

<style>
  .list-group-item {
    border: 1px solid #ccc;
    margin: 5px;
  }

  .nested-1 {
    padding-left: 10px;
  }

  .nested-2 {
    padding-left: 20px;
  }

  .nested-3 {
    padding-left: 30px;
  }
</style>

<script src="./Doc.js"></script>
