<!-- <ul id="items">
  <li>item 1</li>
  <li>item 2</li>
  <li>item 3</li>
</ul> -->
<ul id="nestedDemo" class="child">
  <li class="dir">
    Item 1
    <ul class="child">
      <li class="file">
        Item 1.1
        <ul class="child file"></ul>
      </li>
      <li class="func">
        Item 1.1.1
        <ul class="child"></ul>
      </li>
      <li class="func">
        Item 1.1.2
        <ul class="child"></ul>
      </li>
      <li class="func">
        Item 1.1.3
        <ul class="child"></ul>
      </li>
    </ul>
    <li class="dir">
      Item 2.1
      <ul class="child"></ul>
      <li class="dir">
        Item 2.3
        <ul class="child"></ul>
      </li>
      <li class="dir">
        Item 2.4
        <ul class="child"></ul>
      </li>
    </li>
  </li>
</ul>

<style>
  .child {
    min-width: 30%;
  }
  .dir {
    padding: 10px;
    background-color: #fff9ff;
  }
  .file {
    display: flex;
    flex: none;
    padding: 10px;
    background-color: #e6f0ff;
  }
  .func {
    padding: 10px;
    background-color: #e6ffe6;
  }
  rgb(243, 255, 243) .highlight {
    border: 2px dashed #0082fc;
    background-color: #e0f7fa;
  }
  .dir:hover,
  .file:hover {
    background-color: #d9edf7;
  }
</style>

<script src="./DocGrid.js"></script>
