<!-- <ul id="items">
  <li>item 1</li>
  <li>item 2</li>
  <li>item 3</li>
</ul> -->
<ul id="nestedDemo" class="list-group col nested-sortable">
  <li class="list-group-item dir">
    Item 1
    <ul class="list-group nested-sortable">
      <li class="list-group-item file">
        Item 1.1
        <ul class="list-group nested-sortable file"></ul>
      </li>
      <li class="list-group-item dir">
        Item 1.1.1
        <ul class="list-group nested-sortable"></ul>
      </li>
      <li class="list-group-item dir">
        Item 1.1.2
        <ul class="list-group nested-sortable"></ul>
      </li>
      <li class="list-group-item dir">
        Item 1.1.3
        <ul class="list-group nested-sortable"></ul>
      </li>
    </ul>
    <li class="list-group-item dir">
      Item 2.1
      <ul class="list-group nested-sortable"></ul>
      <li class="list-group-item flex-container">
        <li class="list-group-item dir">
          Item 2.3
          <ul class="list-group nested-sortable"></ul>
        </li>
        <li class="list-group-item dir">
          Item 2.4
          <ul class="list-group nested-sortable"></ul>
        </li>
      </li>
    </li>
  </li>
</ul>

<style>
  .flex-container {
    display: flex;
  }
  <style > .list-group-item {
    margin: 5px;
  }
  .dir {
    padding: 10px;
    background-color: #fff9ff;
  }
  .file {
    display: flex;
    flex: none;
    padding: 10px;
    background-color: #e6f0ff;
  }
  .func {
    border: 2px solid green;
    padding: 10px;
    background-color: #e6ffe6;
  }
</style>

<script src="./DocGrid.js"></script>
