<script src="./HxSortable2.js"></script>
<!-- <script src="./HxSortable2.ts"></script> --><!-- <form class="sortable" hx-post="/items" hx-trigger="end"> -->
<form class="sortable" hx-trigger="end">
  <div class="htmx-indicator">Updating...</div>
  <div><input type="hidden" name="item" value="1" />Item 1</div>
  <div><input type="hidden" name="item" value="2" />Item 2</div>
  <div><input type="hidden" name="item" value="3" />Item 3</div>
  <div><input type="hidden" name="item" value="4" />Item 4</div>
  <div><input type="hidden" name="item" value="5" />Item 5</div>
</form>
