<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
></script>

<form class="sortable" hx-post="/items" hx-trigger="end">
  <div class="htmx-indicator">Updating...</div>
  <div><input type="hidden" name="item" value="1" />Item 1</div>
  <div><input type="hidden" name="item" value="2" />Item 2</div>
  <div><input type="hidden" name="item" value="3" />Item 3</div>
  <div><input type="hidden" name="item" value="4" />Item 4</div>
  <div><input type="hidden" name="item" value="5" />Item 5</div>
</form>

<!-- <script>
  htmx.onLoad(function (content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      new Sortable(sortable, {
        animation: 150,
        ghostClass: "blue-background-class",
      });
    }
  });
</script> -->

<script src="./sortable.ts"></script>
