---
import HxSortable from "./HxSortable.astro";
import NestedSortable from "./NestedSortable.astro";
import BoxAndLine from "./Lines/BoxAndLine.astro";
import TestFunction from "./TestFunction.astro";
---

<HxSortable />
<p>---</p>
<NestedSortable />
<p>---</p>
<BoxAndLine />
<!-- <p>---</p>
<TestFunction /> -->
