---
import HxSortable from "./HxSortable.astro";
import NestedSortable from "./NestedSortable.astro";
import BoxAndLine from "./Lines/BoxAndLine.astro";
import TestFunction from "./TestFunction.astro";
import HxSortable2 from "./HxSortable2.astro";
import Nested2 from "./Nested2.astro";
import Doc from "./Doc.astro";
import HxDoc from "./HxDoc.astro";
---

<!-- <HxSortable /> -->
<p>---</p>
<!-- <HxSortable2 /> -->
<p>---</p>
<!-- <NestedSortable /> -->
<p>---</p>
<!-- <BoxAndLine /> -->
<p>---</p>
<!-- <TestFunction /> -->
<p>---</p>
<!-- <Doc /> -->
<p>---</p>
<HxDoc />
