<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTMX Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.6/htmx.min.js"></script>
  </head>
  <body>
    <div id="oldElement" hx-ext="swapLocal" hx-trigger="click">既存の要素</div>
    <old-element>
      <template shadowrootmode="open">
        <script type="module" src="./local.js"></script>
        <script type="module" src="./console.js"></script>
        <script type="module" src="./swapLocal.js"></script>
      </template>
    </old-element>
  </body>
</html>
